<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="params" label="COM_QLUE404_GLOBAL_PARAMS">
		<field name="activate_email" type="radio" label="COM_QLUE404_ENABLE_EMAIL" default="0" description="COM_QLUE404_ENABLE_EMAIL_DESC" >
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="email" type="text" label="COM_QLUE404_EMAIL" description="COM_QLUE404_EMAIL_DESC" size="70" />
		<field name="hit_counter" type="text" label="COM_QLUE404_HITS_PARAM" description="COM_QLUE404_HITS_PARAM_DESC" size="70" default="15" />
	</fieldset>
	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
		>

		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			validate="rules"
			filter="rules"
			component="com_qlue404"
			section="component" />
	</fieldset>
</config>
